In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [7]:
data = pd.read_csv('datasets/train.csv')

data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
data.describe()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.00000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [9]:
# Shuffle the DataFrame using .sample
shuffled_data = data.sample(frac=1, random_state=11)

In [19]:
shuffled_data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
4817,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41601,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27988,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39436,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14256,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# ------------------------------------------------------------
data_dev = data[0:1000].T #1000 pixels
# Now after transposing the matrix, each column is an example (digit from 0 to 9)
# and we have 784 rows (28px*28px) gives us 784px must be stored for each example
print(data_dev.shape)

(785, 1000)

In [22]:
data_dev.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
label,1,0,1,4,0,0,7,3,5,3,...,6,3,5,0,2,2,5,9,6,4
pixel0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
pixel1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
pixel2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
pixel3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
data_dev[0]

label       1
pixel0      0
pixel1      0
pixel2      0
pixel3      0
           ..
pixel779    0
pixel780    0
pixel781    0
pixel782    0
pixel783    0
Name: 0, Length: 785, dtype: int64

In [15]:
Y_dev = data_dev[0]  # The output (the actual digit) is in the first column of the training set
print("Y_dev: ", Y_dev.head())  # list of all the digits (outputs)
print("Y_dev len: ", len(Y_dev))  # 1000

n = len(data_dev)  # Set n to the number of rows in data_dev

X_dev = data_dev[1:n]  # We skipped the 0th row because it is the output (the labels)
X_dev = X_dev / 255.
print(X_dev)

# ------------------------------------------------------------

Y_dev:  label     1
pixel0    0
pixel1    0
pixel2    0
pixel3    0
Name: 0, dtype: int64
Y_dev len:  785
          0    1    2    3    4    5    6    7    8    9    ...  990  991  \
pixel0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
pixel1    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
pixel2    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
pixel3    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
pixel4    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
pixel779  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
pixel780  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
pixel781  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
pixel782  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
pixel783  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0

          992  993  994  995  996  997  998  999
pixel0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
pixel1    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
pixel2    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
pixel3    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
pixel4    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...       ...  ...  ...  ...  ...  ...  ...  ...
pixel779  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
pixel780  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
pixel781  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
pixel782  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
pixel783  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[784 rows x 1000 columns]